.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100vw;
}

.heading {
  font-weight: 500;
  font-size: 5vh;
  color: #310887;
  text-align: center;
}

.imgContainer {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 100%;
}

.loginButtonContainer {
  height: 25vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 500px) and (max-width: 999px) {
  .headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
  }

  .heading {
    font-weight: 500;
    font-size: 6vh;
    color: #310887;
    text-align: center;
  }

  .imgContainer {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    height: 100%;
  }
}
@media all and (min-width: 1000px) {
  .headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
  }

  .heading {
    font-weight: 500;
    font-size: 8vh;
    color: #310887;
    text-align: center;
  }

  .imgContainer {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    height: 100%;
  }
}
