@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav {
  position: fixed;
  overflow: hidden;
  margin: 0;
  top: 0;
  width: 100%;
  padding: 0;
  background-color: #310887;
  height: 8vh;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.container-navbar,
span {
  text-align: center;
}

.app-title {
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 3.5vh;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 0.5vh;
}

.left-icon {
  position: fixed;
  left: 0vh;
  top: 0vh;
  padding: 0vh;
  border: none;
  font-size: 0vh;
  background: transparent;
  height: 5vh;
  width: 5vh;
  margin: 1vh 2vh;
  background-image: url("https://ik.imagekit.io/m52sq26n4h/icons8-left-48.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 5vh 5vh;
}

.right-icon {
  position: fixed;
  right: 0vh;
  top: 0vh;
  padding: 0vh;
  border: none;
  font-size: 0vh;
  width: 5vh;
  height: 5vh;
  margin: 1vh 2vh;
  cursor: pointer;
  background-image: url("https://ik.imagekit.io/m52sq26n4h/icons8-checkmark-48.png");
  background-repeat: no-repeat;
  background-size: 5vh 5vh;
}

div#nav {
  margin-bottom: 0vh;
}

.left-hamburger,
.right-hamburger:hover {
  font-color: #00c4c4;
}
