.nav {
  overflow: hidden;
  width: 100%;
  background-color: #310887;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  z-index: 5;
}

.containerNavbar {
  text-align: center;
}

.appTitle {
  color: white;
  font-size: 5vw;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.leftIconContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  cursor: pointer;
}

.leftIcon {
  margin-left: 2vw;
  height: 50%;
}

.tickIconContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  cursor: pointer;
}

.tickIcon {
  margin-right: 2vw;
  height: 50%;
}

div.nav {
  margin-bottom: 0vh;
}

@media all and (min-width: 500px) and (max-width: 999px) {
  .appTitle {
    font-size: 4vw;
  }
}

@media all and (min-width: 1000px) {
  .appTitle {
    font-size: 3vw;
  }
}

@media all and (min-width: 1500px) {
  .appTitle {
    font-size: 2vw;
  }
}